html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 15px;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
    width: 12%;
    height: 90%;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
}

.fill {
    min-height: 100%;
    height: 100%;
}

header, footer {
  background-color: #000;
  color: white;
  width: 100%;
  text-align: center;
}

header {
  margin-bottom: 15px;
  font-size: 1.4em;
  padding: 5px;
  height: 40px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0.9em;
  padding: 5px;
  height: 35px;
}

.code {
  font-family: monospace;
  margin-left: 20px;
  padding: 20px;
}
